[submodule "external/hooking"]
	path = external/hooking
	url = https://github.com/ThirteenAG/Hooking.Patterns
[submodule "external/inireader"]
	path = external/inireader
	url = https://github.com/ThirteenAG/IniReader
[submodule "external/sire"]
	path = external/sire
	url = https://github.com/gennariarmando/sire
[submodule "external/FusionDxHook"]
	path = external/FusionDxHook
	url = https://github.com/ThirteenAG/FusionDxHook
[submodule "external/injector"]
	path = external/injector
	url = https://github.com/ThirteenAG/injector
