[submodule "external/hooking"]
	path = external/hooking
	url = https://github.com/ThirteenAG/Hooking.Patterns
[submodule "external/inireader"]
	path = external/inireader
	url = https://github.com/ThirteenAG/IniReader
[submodule "external/FusionDxHook"]
	path = external/FusionDxHook
	url = https://github.com/ThirteenAG/FusionDxHook
[submodule "external/injector"]
	path = external/injector
	url = https://github.com/ThirteenAG/injector
[submodule "external/ps2sdk"]
	path = external/ps2sdk
	url = https://github.com/ThirteenAG/ps2sdk
[submodule "external/pspsdk"]
	path = external/pspsdk
	url = https://github.com/ThirteenAG/pspsdk
