#define IDR_DROPMASK 100
#define IDR_SNOWDROPMASK 101
#define IDR_BLURPS 103
#define IDR_BLURVS 104
#define IDR_DROP8PS14 110
#define IDR_DROP8PS11 111
#define IDR_BLUR8PS14 112
#define IDR_BLUR8PS11 113
#define IDR_LIGHT8PS14 114
#define IDR_LIGHT8PS11 115
#define IDR_FADE8PS14 116
#define IDR_FADE8PS11 117

IDR_DROPMASK RCDATA "dropmask.png"
IDR_SNOWDROPMASK RCDATA "snowdropmask.png"
IDR_BLURPS RCDATA "blurPS.cso"
IDR_BLURVS RCDATA "blurVS.cso"
IDR_DROP8PS14 RCDATA "dropPS8_14.cso"
IDR_DROP8PS11 RCDATA "dropPS8_11.cso"
IDR_BLUR8PS14 RCDATA "blurPS8_14.cso"
IDR_BLUR8PS11 RCDATA "blurPS8_11.cso"
IDR_LIGHT8PS14 RCDATA "lightPS8_14.cso"
IDR_LIGHT8PS11 RCDATA "lightPS8_11.cso"
IDR_FADE8PS14 RCDATA "fadePS8_14.cso"
IDR_FADE8PS11 RCDATA "fadePS8_11.cso"