name: GitHub Actions Build

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: windows-2022
    strategy:
      matrix:
        buildtype: [Release]

    steps:
    - name: setup-msbuild
      uses: microsoft/setup-msbuild@v2
    - uses: actions/checkout@v6
      with:
        submodules: recursive
    - name: Configure build
      shell: cmd
      run: ./premake5.bat
    - name: Build XboxRainDroplets
      shell: cmd
      run: msbuild -m build/${{github.event.repository.name}}.sln /property:Configuration=${{matrix.buildtype}}
    - name: Build XboxRainDropletsWrapper
      shell: cmd
      run: |
          msbuild -m build/XboxRainDropletsWrapper.sln /property:Configuration=${{matrix.buildtype}} /property:Platform=Win32
          msbuild -m build/XboxRainDropletsWrapper.sln /property:Configuration=${{matrix.buildtype}} /property:Platform=x64
    - name: Download Ultimate ASI Loader x86
      uses: robinraju/release-downloader@v1.12
      with:
        repository: "ThirteenAG/Ultimate-ASI-Loader"
        tag: "Win32-latest"
        fileName: "version-Win32.zip"
    - name: Download Ultimate ASI Loader x64
      uses: robinraju/release-downloader@v1.12
      with:
        repository: "ThirteenAG/Ultimate-ASI-Loader"
        tag: "x64-latest"
        fileName: "dinput8-x64.zip"
    - name: Download XboxRainDroplets Plugins
      uses: robinraju/release-downloader@v1.12
      with:
        repository: "ThirteenAG/WidescreenFixesPack"
        tag: "xrd"
        fileName: "*"
    - name: Unpack dependencies
      run: |
          7z x version-Win32.zip -obin/ -y
          7z x dinput8-x64.zip -obin/ -y
          7z x PCSX2F.XboxRainDroplets.zip -obin/ -y
          7z x PPSSPP.XboxRainDroplets.zip -obin/ -y
          del version-Win32.zip
          del dinput8-x64.zip
          del PCSX2F.XboxRainDroplets.zip
          del PPSSPP.XboxRainDroplets.zip
    - name: Pack binaries
      shell: cmd
      run: release.bat
    - name: Upload artifacts to actions
      uses: actions/upload-artifact@v6.0.0
      with:
        path: ./bin/*.zip
    - name: Update Tags
      continue-on-error: true
      if: ${{ github.event_name == 'push' && github.ref_name == 'master' }}
      uses: ThirteenAG/update-tags@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: GTAIV.XboxRainDroplets
      uses: ./.github/workflows/release_tag
      if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: gtaiv
        artifacts: bin/GTAIV.XboxRainDroplets.zip
    - name: Mafia.XboxRainDroplets
      uses: ./.github/workflows/release_tag
      if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: mafia
        artifacts: bin/Mafia.XboxRainDroplets.zip
    - name: Manhunt.XboxRainDroplets
      uses: ./.github/workflows/release_tag
      if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: manhunt
        artifacts: bin/Manhunt.XboxRainDroplets.zip
    - name: MaxPayne.XboxRainDroplets
      uses: ./.github/workflows/release_tag
      if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: maxpayne
        artifacts: bin/MaxPayne.XboxRainDroplets.zip
    - name: MaxPayne2.XboxRainDroplets
      uses: ./.github/workflows/release_tag
      if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: maxpayne2
        artifacts: bin/MaxPayne2.XboxRainDroplets.zip
    - name: MaxPayne3.XboxRainDroplets
      uses: ./.github/workflows/release_tag
      if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: maxpayne3
        artifacts: bin/MaxPayne3.XboxRainDroplets.zip
    - name: NFSCarbon.XboxRainDroplets
      uses: ./.github/workflows/release_tag
      if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: nfsc
        artifacts: bin/NFSCarbon.XboxRainDroplets.zip
    - name: NFSMostWanted.XboxRainDroplets
      uses: ./.github/workflows/release_tag
      if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: nfsmw
        artifacts: bin/NFSMostWanted.XboxRainDroplets.zip
    - name: NFSUnderground2.XboxRainDroplets
      uses: ./.github/workflows/release_tag
      if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: nfsu2
        artifacts: bin/NFSUnderground2.XboxRainDroplets.zip
    - name: Scarface.XboxRainDroplets
      uses: ./.github/workflows/release_tag
      if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: scarface
        artifacts: bin/Scarface.XboxRainDroplets.zip
    - name: Driv3r.XboxRainDroplets
      uses: ./.github/workflows/release_tag
      if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: driv3r
        artifacts: bin/Driv3r.XboxRainDroplets.zip
    - name: DriverParallelLines.XboxRainDroplets
      uses: ./.github/workflows/release_tag
      if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: driverpl
        artifacts: bin/DriverParallelLines.XboxRainDroplets.zip
    - name: PPSSPP.XboxRainDroplets
      uses: ./.github/workflows/release_tag
      if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: ppsspp
        artifacts: bin/PPSSPP.XboxRainDroplets.zip, bin/PPSSPP.XboxRainDroplets64.zip
    - name: PCSX2F.XboxRainDroplets
      uses: ./.github/workflows/release_tag
      if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: pcsx2f
        artifacts: bin/PCSX2F.XboxRainDroplets64.zip
    - name: SplinterCell.XboxRainDroplets
      uses: ./.github/workflows/release_tag
      if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: sc
        artifacts: bin/SplinterCell.XboxRainDroplets.zip
    - name: SplinterCellPandoraTomorrow.XboxRainDroplets
      uses: ./.github/workflows/release_tag
      if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: scpt
        artifacts: bin/SplinterCellPandoraTomorrow.XboxRainDroplets.zip
    - name: SplinterCellChaosTheory.XboxRainDroplets
      uses: ./.github/workflows/release_tag
      if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: scct
        artifacts: bin/SplinterCellChaosTheory.XboxRainDroplets.zip
    - name: SplinterCellDoubleAgent.XboxRainDroplets
      uses: ./.github/workflows/release_tag
      if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: scda
        artifacts: bin/SplinterCellDoubleAgent.XboxRainDroplets.zip
    - name: SplinterCellBlacklist.XboxRainDroplets
      uses: ./.github/workflows/release_tag
      if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: scb
        artifacts: bin/SplinterCellBlacklist.XboxRainDroplets.zip
    - name: GTASADE.XboxRainDroplets
      uses: ./.github/workflows/release_tag
      if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: gtasade
        artifacts: bin/GTASADE.XboxRainDroplets.zip
    - name: GTAVCDE.XboxRainDroplets
      uses: ./.github/workflows/release_tag
      if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: gtavcde
        artifacts: bin/GTAVCDE.XboxRainDroplets.zip
    - name: GTA3DE.XboxRainDroplets
      uses: ./.github/workflows/release_tag
      if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: gta3de
        artifacts: bin/GTA3DE.XboxRainDroplets.zip
    - name: TrueCrimeNewYorkCity.XboxRainDroplets
      uses: ./.github/workflows/release_tag
      if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: tcnyc
        artifacts: bin/TrueCrimeNewYorkCity.XboxRainDroplets.zip
